body{
    background-image: url('image1/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
}
#header {
    height: 300px;
    background-image: url('image1/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.title{
    height: 300px;
    width:550px;

}
#title1 {
    position: absolute;
    display: flex;
    
    left: 100px;
    
    top: 30px;
    margin: auto;
    
    color: #07181bc3;
    font-size: 80px;
    font-weight: 500;
}
#title2{
    position: absolute;
 

    left: 300px;

    top: 120px;
    margin: auto;

    color: #000000f9;
    font-size: 100px;
    font-weight: 550;
}
             

#naver{               /**导航栏**/
    height: 60px;
    background-color: rgb(123, 180, 199);
}
a{
    text-decoration: none;
    font-weight: 800;
    font-size: large;
    display: inline-block;
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(123, 180, 199);
    /*border: 1px solid red;
    box-sizing: border-box;*/
    line-height: 40px;
    text-align: center;
    padding: 10px 85px;
}
ul{
    list-style-type: none; 
    margin: 0px;
    
}

#list{
    display: block;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 100%;
    

}

#list>li{
    float: left;
}

#list>li>ul{
    display: none;        /* 隐藏 */
    position: absolute;
    margin-left: -42px;
    float: none;
    
}

#list>li:hover ul{
    display: block;
}


a:hover {
    background-color: burlywood;
}
#container{
    height: 2100px;
    background: linear-gradient(direction,rgb(123, 180, 199),rgb(19, 62, 250));
}
#container1_1{
    height: 310px;
    width: 410px;
    background-color: aliceblue;
    text-align: center;
   
    position: absolute;
    margin-left: 100px;
    top: 490px;
}
#container1_2{
    height: 450px;
    width: 600px;
    background-color: aliceblue;
    position: absolute;
    margin-left: 650px;
    top: 490px;
}
h3{
    font-family: 150%;
    font-size: larger;
    font-weight: 300px;
    text-align: center;
    color: #f91111;
    text-shadow: 5px 5px 5px rgb(236, 236, 236), 0px 0px 2px rgb(236, 236, 236);
}
.text1{
    font-family: cursive;
    font-size: large;
    font-weight: 100;
    text-align: left;
    text-indent: 2em;
    line-height: 1.5em;
    margin-bottom: 5px;
    margin-top: 4px; 
}
#container1_3{
    height: 500px;
    width: 1150px;
    background-color: aliceblue;
    position: absolute;
    margin-left: 100px;
    top: 885px;
}
#container2{
    height: 800px;
    margin-top: 50px;
    background: linear-gradient(direction,rgb(123, 180, 199),rgb(19, 62, 250));
    
}
.text2{
    font-family: 150%;
    font-size: 200%;
    font-weight: 300px;
    text-align: left;
    color: #ffffff;
    text-shadow: 5px 5px 5px rgb(12, 12, 12), 0px 0px 2px rgb(5, 5, 5);
}
#footer {
    font-size: 50%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
  }
