body{
    background-image: url('image1/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
}
#header {
    height: 300px;
    background-image: url('image1/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title{
    height: 300px;
    width:550px;

}
#title1 {
    position: absolute;
    display: flex;
    
    left: 100px;
    
    top: 30px;
    margin: auto;
    
    color: #07181bc3;
    font-size: 80px;
    font-weight: 500;
}
#title2{
    position: absolute;
 

    left: 300px;

    top: 120px;
    margin: auto;

    color: #000000f9;
    font-size: 100px;
    font-weight: 550;
}


#naver{
    height: 60px;
    background-color: rgb(123, 180, 199);
}
#container{
    height: 900px;
    background: linear-gradient(direction,rgb(123, 180, 199),rgb(19, 62, 250));

   

}
#container1{
    height: 700px;
    width: 656px;

    float: left;
    
}
#container1_1{
    height: 250px;
    width: 210px;
    background-color: rgb(186, 212, 244);
    text-align: center;
    position: absolute;
    margin-top: 30px;
    margin-left: 180px;
    overflow: hidden; /* 防止内容溢出 */
}
#container1_1 img {
    width: 100%; /* 将图片宽度设置为容器的宽度 */
    height: 100%; /* 将图片高度设置为容器的高度 */
    object-fit: cover; /* 图片将覆盖整个容器 */
}
#container1_2{
    height: 300px;
    width: 350px;
    text-shadow: 5px 5px 5px rgb(236, 236, 236), 0px 0px 2px rgb(236, 236, 236);
    font-size: 25px;
    font-weight: 10;
    text-indent: 2em;
    color: hsl(0, 21%, 95%);
    line-height: 1.5em;
   
    position: absolute;
    margin-top: 310px;
    margin-left: 140px;
}
#container2{

    height: 700px;
    width: auto;
    margin-left: 676px;
    
    
}
#container2_1{

    text-shadow: 5px 5px 5px rgb(236, 236, 236), 0px 0px 2px rgb(236, 236, 236);
    font-size: 45px;
    font-weight: 500;
    color: #fc0404bd;
    position: absolute;
    margin-left: 400px;
    margin-top: 20px;

}
#container2_2{
    font-size: 20px;
    font-weight: 10;
    color: #3d6152f4;
    text-indent: 2em;
    line-height: 1.5em;
    position: absolute;
    margin-top: 80px;
}
#footer {
    font-size: 50%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
  }
a{
    text-decoration: none;
    font-weight: 800;
    font-size: large;
    display: inline-block;
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(123, 180, 199);
    /*border: 1px solid red;
    box-sizing: border-box;*/
    line-height: 40px;
    text-align: center;
    padding: 10px 85px;
}
ul{
    list-style-type: none; 
    margin: 0px;
    
}

#list{
    display: block;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 100%;
    

}

#list>li{
    float: left;
}

#list>li>ul{
    display: none;        /* 隐藏 */
    position: absolute;
    margin-left: -42px;
    float: none;
    
}

#list>li:hover ul{
    display: block;
}

a:hover {
    background-color: burlywood;
}